.section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: auto;
    margin: 50px 0;


}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    margin-top: 120px;

}

.posters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 200vw;
}

.heading {
 color: #15133C;
 margin-top: 20px;
 margin-bottom: 0;
}