* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

html,body, body * { 
  font-family: 'Open Sans', sans-serif; 
  color:inherit;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover,
button:focus {
  background:transparent;
}

button:focus {
  outline: none;

}